header{
	position: relative;
}

body {
	color:  #333333 ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
	margin-left: auto;
	margin-right: auto;
	width: 940px;

}

h1{
	margin: 10px;
}

h2{
	border-bottom:  2px solid #333333;
	margin-top 30px;
}
p{
	padding: 0 45px;
	text-indent: 15px;
}
figure {
	background-color: #F2EDED;
	border: 1px	solid	#ccc;
	text-align:	center;
	padding: 10px 10px 10px 10px;
	margin: 30px;
}

 
figcaption {
	font-style: italic;
	margin-top: 10px;
}
iframe
{
	float: right;
}

#centro-distruicao {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#familia-pelho{
	float: right;
	margin: 0 0 10px 10px;


}
.sacola {
	background-image: url(../img/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	padding-right: 35px;
	width:140px; 	
	text-align: right;
	padding-top: 8px;
}	
.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul {

	font-size: 15px;

}
.menu-opcoes ul li	{
	display:	inline;
	margin-left: 20px;
	}


.menu-opcoes a{
	color: #003366;

}

.container	{
	margin: 0 auto;
	width: 940px;
	}

#titulo{
	background-image: url(sobre-background.jpg);
}
